{
  "plugins": ["prettier-plugin-tailwindcss"],
  "prettier.printWidth": 180,
  "prettier.singleQuote": true,
  "prettier.htmlWhitespaceSensitivity": "ignore",
  "prettier.bracketSameLine": true,
  "prettier.arrowParens": "avoid"
}
