<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="Description" CONTENT="Nebraska TIF Report - Tax Increment Financing: [% title %]">

    <!-- Facebook Comments -->
    <meta property="fb:app_id" content="260322844448067" />

    <title>[% title %]</title>
    [% INCLUDE chart.tt2 %]

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">

    <!-- Our local styles -->
    <style>
      body {
        padding-top: 5rem;
      }
      div#chart_div {
        height: 80%;
      }
      .navbar .about .nav-link {
        color: rgba(250, 245, 117, 1);
      }
      .navbar .about .nav-link:hover {
        color: rgba(255, 195, 0, 1);
      }
      .red {
        color: rgba(255, 0, 0, 1);
      }
      .green {
        color: rgba(0, 220, 0, 1);
      }
      .right {
        text-align: right;
      }
    </style>
  </head>
  <body>

    <nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
      <a class="navbar-brand" href="/">Nebraska TIF Report 2018</a>
      <ul class="nav navbar-nav">
        <li class="nav-item about">
          <a class="nav-link" href="/about.html">About</a>
        </li>
      </ul>
    </nav>

    <!-- Facebook Comments -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9&appId=260322844448067";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>

    <div class="container">

      [% content %]

    </div><!-- /.container -->

    <!-- jQuery first, then Bootstrap JS. -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>
  </body>
</html>

