@import 'tailwindcss';
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
#chart_div {
  width: 100%;
  min-height: 450px;
  max-height: 650px;
  transition: all 0.3s ease;
}
@media (max-width: 640px) {
  #chart_div {
    min-height: 300px;
    max-height: 400px;
  }
}

/* Smooth Scroll */
html {
  scroll-behavior: smooth;
}
